body {
    background: #666;
    color: #eee;
    font: 100 100%/100% helvetica, arial, sans-serif
}

h1 {
    background: #222;
    color: #fd5;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    line-height: 8em;
    letter-spacing: .6em
}